.story__link:hover, .navigation__link:hover, .button {
  transition: all 0.3s ease-out;
}

.input::-moz-placeholder {
  font-family: "Aleo", "Georgia", serif;
}

.input:-ms-input-placeholder {
  font-family: "Aleo", "Georgia", serif;
}

.input::placeholder, .input, h3, h1, body {
  font-family: "Aleo", "Georgia", serif;
}

.footer_text, .destinations_text, .navigation, .button, h2 {
  font-family: "Red Hat Text", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1024px) {
  body {
    font-size: 0.9rem;
    line-height: 1.08rem;
    font-weight: 400;
    font-style: normal;
  }
}

h1 {
  font-size: 8rem;
  line-height: 9.6rem;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  h1 {
    display: none;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5.3rem;
  font-weight: 500;
  font-style: normal;
  color: #F2785C;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.852rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 4.2rem;
  font-weight: 400;
  font-style: normal;
  color: #0D606F;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 1.1rem;
    line-height: 1.32rem;
    font-weight: 700;
    font-style: normal;
    margin: 5px 0 10px 0;
  }
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}
.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
  padding-left: 71px;
}
@media (max-width: 1024px) {
  .tool {
    padding: 0;
    margin: 10px 0 20px;
  }
}
.tool > p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #0D606F;
  margin-top: 20px;
}
.tool:first-child {
  padding-left: 11px;
}
@media (max-width: 1024px) {
  .tool:first-child {
    padding: 0;
  }
  .tool:first-child > p {
    max-width: 75px;
  }
}
.tool:last-child {
  padding-left: 0;
  padding-right: 12px;
}
@media (max-width: 1024px) {
  .tool:last-child {
    padding: 0;
    align-items: flex-end;
  }
  .tool:last-child > p {
    text-align: right;
    max-width: 80px;
  }
}

.tool__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 16px;
  background-color: #F2785C;
}
@media (max-width: 1024px) {
  .tool__icon {
    height: 70px;
    width: 70px;
  }
}

.ico {
  display: inline-block;
}
.ico-bike {
  background-image: url(../img/icons/steps_bike.svg);
  width: 50px;
  height: 45px;
}
@media (max-width: 1024px) {
  .ico-bike {
    width: 35px;
    height: 31.5px;
    background-size: cover;
  }
}
.ico-calendar {
  background-image: url(../img/icons/steps_calendar.svg);
  width: 52px;
  height: 52px;
}
@media (max-width: 1024px) {
  .ico-calendar {
    width: 35px;
    height: 35px;
    background-size: cover;
  }
}
.ico-plane {
  background-image: url(../img/icons/steps_plane.svg);
  width: 60px;
  height: 45px;
}
@media (max-width: 1024px) {
  .ico-plane {
    width: 40px;
    height: 30px;
    background-size: cover;
  }
}

.button {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  padding: 10px 32.5px;
  background: #0D606F;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .button {
    font-size: 1.1rem;
    line-height: 1.455rem;
    font-weight: 500;
    font-style: normal;
    padding: 7.5px 12px;
  }
}
.button:hover {
  cursor: pointer;
  background-color: rgba(13, 96, 111, 0.5);
}
.button > object {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .button > object {
    height: 10px;
    width: 10px;
    background-size: cover;
    margin-right: 6px;
  }
}

.preview__button {
  padding: 13.5px 33.5px;
}
@media (max-width: 1024px) {
  .preview__button {
    padding: 7.5px 9px;
  }
}

.header__button {
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1024px) {
  .header__button {
    display: none;
  }
}

.logo_path {
  visibility: visible;
}
@media (max-width: 1024px) {
  .logo_path {
    visibility: hidden;
  }
}

.navigation {
  display: flex;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .navigation {
    width: 165px;
    height: 250px;
    background-color: #F2785C;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    position: fixed;
    right: -100%;
  }
}

.navigation__link {
  list-style: none;
  padding-right: 42px;
}
.navigation__link-hidden {
  display: none;
}
@media (max-width: 1024px) {
  .navigation__link-hidden {
    display: inline;
  }
}
.navigation__link:hover {
  cursor: pointer;
  color: #0D606F;
}
@media (max-width: 1024px) {
  .navigation__link {
    display: none;
  }
}

.hamburger-ico {
  display: none;
}
@media (max-width: 1024px) {
  .hamburger-ico {
    display: block;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1024px) {
  .wrapper {
    margin: 0 15px;
  }
}

.steps {
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .steps {
    margin-top: 20px;
  }
}

.background_image {
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 1024px) {
  .header {
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 50%);
    box-shadow: none;
  }
}

.header__wrapper {
  padding: 25px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header__wrapper {
    padding: 43px 5px 63.5px 0px;
    align-items: flex-start;
  }
}

.img_header {
  height: 765px;
  background-image: url("../img/backgrounds/header_background.jpg");
  background-position: center top;
  background-size: auto;
}
@media (max-width: 1024px) {
  .img_header {
    height: 251px;
    background-image: url("../img/mobile/backgrounds/header_background.jpg");
    background-size: 100%;
  }
}

.preview {
  color: #FFFFFF;
}

.preview__wrapper {
  margin: 32px 0 0 146px;
  max-height: 422px;
  max-width: 892px;
}
@media (max-width: 1024px) {
  .preview__wrapper {
    margin: 0 15px;
  }
}
.preview__wrapper > p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
  margin: 32px 0 46px 0;
}
@media (max-width: 1024px) {
  .preview__wrapper > p {
    display: none;
  }
}

.preview__input {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
@media (max-width: 1024px) {
  .preview__input {
    padding: 9px;
  }
}

.input {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
  margin: 0 10px 0 23px;
  display: block;
  border: none;
  background-color: transparent;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .input {
    font-size: 1.4rem;
    line-height: 1.68rem;
    font-weight: 400;
    font-style: italic;
    margin: 0 10px 0 9px;
  }
}
.input::-moz-placeholder {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
}
.input:-ms-input-placeholder {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
}
.input::placeholder {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
}
@media (max-width: 1024px) {
  .input::-moz-placeholder {
    font-size: 1.4rem;
    line-height: 1.68rem;
    font-weight: 400;
    font-style: italic;
  }
  .input:-ms-input-placeholder {
    font-size: 1.4rem;
    line-height: 1.68rem;
    font-weight: 400;
    font-style: italic;
  }
  .input::placeholder {
    font-size: 1.4rem;
    line-height: 1.68rem;
    font-weight: 400;
    font-style: italic;
  }
}

.destinations_photo {
  display: flex;
  height: 800px;
  width: 800px;
  border-radius: 16px;
  margin-left: 60px;
  background-image: url("../img/destinations/destinations_japan.jpg");
}
@media (max-width: 1024px) {
  .destinations_photo {
    height: 210px;
    width: 360px;
    margin-left: 15px;
    background-image: url("../img/mobile/destinations/destinations_japan.jpg");
    order: 0;
  }
}
.destinations_photo:first-child {
  margin-left: 0;
  background-image: url("../img/destinations/destinations_spain.jpg");
}
@media (max-width: 1024px) {
  .destinations_photo:first-child {
    background-image: url("../img/mobile/destinations/destinations_spain.jpg");
    order: 1;
  }
}
.destinations_photo:last-child {
  background-image: url("../img/destinations/destinations_usa.jpg");
}
@media (max-width: 1024px) {
  .destinations_photo:last-child {
    background-image: url("../img/mobile/destinations/destinations_usa.jpg");
    order: 2;
  }
}
.destinations_text {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  margin: 0 0 40px 15px;
}
@media (max-width: 1024px) {
  .destinations_text {
    font-size: 2rem;
    line-height: 2.646rem;
    font-weight: 500;
    font-style: normal;
    align-items: flex-start;
    margin: 8px 0 0 15px;
  }
}
.destinations > button {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 122px;
}
@media (max-width: 1024px) {
  .destinations > button {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.destinations > h2 {
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  .destinations > h2 {
    margin-bottom: 20px;
  }
}

.destinations__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  overflow: hidden;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #F2785C;
  margin: 24px 0 0 10px;
}
@media (max-width: 1024px) {
  .dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: -20px 0 0 6px;
    order: 0;
  }
}
.dot_transparent {
  background-color: rgba(242, 120, 92, 0.5);
}
.dot:first-child {
  margin-left: 0;
}
@media (max-width: 1024px) {
  .dot:first-child {
    margin-left: 6px;
    order: 1;
  }
}
@media (max-width: 1024px) {
  .dot:last-child {
    order: 2;
  }
}
.dot:hover {
  cursor: pointer;
}

.stories {
  background-color: rgba(255, 255, 255, 0.7);
  color: #0D606F;
}

.stories__wrapper {
  padding: 40px 0 39px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  .stories__wrapper {
    padding: 10px 0 0 0;
  }
}
.stories__wrapper > button {
  padding: 10px 35.5px;
  margin: 9px 0 0 4px;
}
@media (max-width: 1024px) {
  .stories__wrapper > button {
    padding: 7.5px 12px;
    margin: 0 0 13px 0;
  }
}

.story {
  display: flex;
  flex-direction: row-reverse;
}

.story__photo {
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  min-width: 400px;
  box-shadow: 0px 4px 4px #0D606F;
  border-radius: 16px;
  margin: 0 40px 30px 0;
}
@media (max-width: 1024px) {
  .story__photo {
    height: 130px;
    min-width: 155px;
    margin: 0 10px 15px 0;
  }
}
.story__photo-thai {
  background-image: url("../img/stories/story_thai.jpg");
}
@media (max-width: 1024px) {
  .story__photo-thai {
    background-image: url("../img/mobile/stories/story_thai.jpg");
  }
}
.story__photo-utah {
  background-image: url("../img/stories/story_utah.jpg");
}
@media (max-width: 1024px) {
  .story__photo-utah {
    background-image: url("../img/mobile/stories/story_utah.jpg");
  }
}
.story__photo-mountains {
  background-image: url("../img/stories/story_mountains.jpg");
}
@media (max-width: 1024px) {
  .story__photo-mountains {
    background-image: url("../img/mobile/stories/story_mountains.jpg");
  }
}
.story__photo-journey {
  background-image: url("../img/stories/story_journey.jpg");
}
@media (max-width: 1024px) {
  .story__photo-journey {
    background-image: url("../img/mobile/stories/story_journey.jpg");
    margin-bottom: 13px;
  }
}

@media (max-width: 1024px) {
  .story__text {
    display: none;
  }
}
.story__text-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .story__text-mobile {
    display: block;
  }
}

.story__link {
  color: #0D606F;
  font-weight: 700;
}
.story__link:hover {
  color: #F2785C;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 13.35px 0;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer__wrapper {
    justify-content: center;
    padding: 15px 0 16.35px 0;
  }
}

.footer_text {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer_text {
    display: none;
  }
}

.img_footer {
  background-image: url("../img/backgrounds/footer_background.jpg");
  background-position: center bottom;
  background-size: auto 100%;
}
@media (max-width: 1024px) {
  .img_footer {
    background-image: url("../img/mobile/backgrounds/footer_background.jpg");
  }
}

.footer_invisible-span {
  width: 140px;
}
@media (max-width: 1024px) {
  .footer_invisible-span {
    display: none;
  }
}

.social {
  display: flex;
  align-items: center;
}
.social_icon {
  display: flex;
  margin-left: 21px;
}
.social_icon:first-child {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */