$color-primary:#F2785C;
$color-additional: #0D606F;
$color-light: #FFFFFF;
$color-header-background: rgba(242, 120, 92, 0.7);
$color-header-shadow: rgba(13, 96, 111, 0.5);
$color-search-background: rgba(255, 255, 255, 0.7);
$color-primary-transparent: rgba(242, 120, 92, 0.5);

$content-width: 1200px;
$desktop-width: 1440px;
$mobile-width: 500px;