@mixin font ($size: 2.0rem, $height: 2.4rem, $weight: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-desktop {
  @media (max-width: $desktop-width)  { @content; }  
}

@mixin media-mobile {
  @media (max-width: $mobile-width)  { @content; }  
}