.header {
    background: $color-header-background;
    box-shadow: 0px 4px 4px $color-header-shadow;
}

.header__wrapper {
    padding: 25px 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_header {
    height: 765px;
    background-image: url("img/header_background.png");
}

.navigation {
    display: flex;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 21px;

    color: #FFFFFF;
}

.navigation__link {
    list-style: none;
    padding: 0 21px;
    cursor: pointer;
}