.destinations {
  &_photo {
    display: flex;
    height: 800px;
    width: 800px;
    border-radius: 16px;
    margin-left: 60px; 
    background-image: url("../img/destinations/destinations_japan.jpg");
    @include media-mobile{
      height: 210px;
      width: 360px;
      margin-left: 15px;
      background-image: url("../img/mobile/destinations/destinations_japan.jpg");
      order: 0;
    }
    &:first-child {
        margin-left: 0; 
        background-image: url("../img/destinations/destinations_spain.jpg");
        @include media-mobile{
          background-image: url("../img/mobile/destinations/destinations_spain.jpg");
          order: 1;
        }
    }
    &:last-child {
        background-image: url("../img/destinations/destinations_usa.jpg");
        @include media-mobile{
          background-image: url("../img/mobile/destinations/destinations_usa.jpg");
          order: 2;
        }
    }
  }
  &_text {
    @extend %font-additional;
    @include font($size: 3.2rem, $height: 4.2rem, $weight: 500);
    color: $color-light;
    display: flex;
    align-items: flex-end;
    margin: 0 0 40px 15px;
    @include media-mobile {
      @include font($size: 2.0rem, $height: 2.646rem, $weight: 500);
      align-items: flex-start;
      margin: 8px 0 0 15px;
    }
  }
  &>button {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 122px;
    @include media-mobile {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  > h2 {
    margin-bottom: 45px;
    @include media-mobile {
      margin-bottom: 20px;
    }
  }
}

.destinations__wrapper {
  display: flex;
  justify-content: center;
  max-width: $desktop-width;
  overflow: hidden;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: $color-primary;
  margin: 24px 0 0 10px;
  @include media-mobile {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: -20px 0 0 6px;
    order: 0;
  }
  &_transparent {
    background-color: $color-primary-transparent;
  }
  &:first-child {
    margin-left: 0;
    @include media-mobile {
      margin-left: 6px;
      order: 1;
    }
  }
  &:last-child {
    @include media-mobile {
      order: 2;
    }
  }
  &:hover {
    cursor: pointer;
  }
}