.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 13.35px 0;
  align-items: center;
  @include media-mobile {
    justify-content: center;
    padding: 15px 0 16.35px 0;
  }
}

.footer_text {
  @extend %font-additional;
  @include font($size: 1.6rem, $height: 2.1rem, $weight: 500);
  color: $color-light;
  @include media-mobile {
    display: none;
  }
}

.img_footer {
  background-image: url("../img/backgrounds/footer_background.png");
  background-position: center bottom;
  background-size: auto 100%;
  @include media-mobile {
    background-image: url("../img/mobile/backgrounds/footer_background.jpg");
  }
}

.footer_invisible-span {
  width: 140px;
  @include media-mobile {
    display: none;
  }
}

.social {
  display: flex;
  align-items: center;
  &_icon {
    display: flex;
    margin-left: 21px;
    &:first-child {
      margin-left: 0;
    }
  }
}