.preview {
  color: $color-light;
}

.preview__wrapper {
  margin: 32px 0 0 146px;
  max-height: 422px;
  max-width: 892px;
  > p {
    @include font($size: 2.0rem, $height: 2.4rem, $weight: 700, $style: italic);
    color: $color-light;
    margin: 32px 0 46px 0;
  }
}

.preview__input {
  background-color: $color-search-background;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.input {
  @extend %font-primary;
  @include font($size: 2.4rem, $height: 2.9rem, $weight: 400, $style: italic);
  color: $color-primary;
  margin: 0 10px 0 23px;
  display: block;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  &::placeholder {
    @extend %font-primary;
    @include font($size: 2.4rem, $height: 2.9rem, $weight: 400, $style: italic);
    color: $color-primary;
  }
}