.stories {
  background-color: $color-search-background;
  color: $color-additional;
}

.stories__wrapper {
  padding: 40px 0 39px 0;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  @include media-mobile {
    padding: 10px 0 0 0;
  }
  > button {
    padding: 10px 35.5px;
    margin: 9px 0 0 4px;
    @include media-mobile {
      padding: 7.5px 12px;
      margin: 0 0 13px 0;
    }
  }
}
.story {
  display: flex;
  flex-direction: row-reverse;
}

.story__photo {
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  min-width: 400px;
  box-shadow: (0px 4px 4px #0D606F);
  border-radius: 16px;
  margin: 0 40px 30px 0;
  @include media-mobile {
    height: 130px;
    min-width: 155px;
    margin: 0 10px 15px 0;
  }
  &-thai {
    background-image: url("../img/stories/story_thai.jpg");
    @include media-mobile {
      background-image: url("../img/mobile/stories/story_thai.jpg");
    }
  }
  &-utah {
    background-image: url("../img/stories/story_utah.jpg");
    @include media-mobile {
      background-image: url("../img/mobile/stories/story_utah.jpg");
    }
  }
  &-mountains {
    background-image: url("../img/stories/story_mountains.jpg");
    @include media-mobile {
      background-image: url("../img/mobile/stories/story_mountains.jpg");
    }
  }
  &-journey {
    background-image: url("../img/stories/story_journey.jpg");
    @include media-mobile {
      background-image: url("../img/mobile/stories/story_journey.jpg");
      margin-bottom: 13px;
    }
  }
}
.story__text {
  @include media-mobile {
    display: none;
  } 
  &-mobile {
    display: none;
    @include media-mobile {
        display: block;
    }
  }
}

.story__link {
  color: $color-additional;
  font-weight: 700;
  &:hover {
    @extend %transition;
    color: $color-primary;
  }
}